Source: patchimage
Section: games
Priority: extra
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends: debhelper (>= 8), make
Standards-Version: 3.9.4
Homepage: http://www.nanolx.org/nanolx/patchimage

Package: patchimage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wii image patcher
 Patchimage is a script that allows to patch
 riivoluton patches into wbfs/iso images of
 legal Wii game dumps.
 .
 Currently there are 15 modifications of
 New Super Mario Bros. Wii supported, aswell
 as one modification of The Legend of Zelda:
 A Link To The Past.
 .
 Also all Mario Kart Wii mods by Wiimm, aswell
 as wiimmfi (custom server after nintendo wfc
 shutdown) is supported
